.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --black: #000000;
  --white: #ffffff;
  --red: #d80032;
  --blue: #0D64A8;
  --green: #084227;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(4px);
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  border-radius: 40px;
  box-shadow: 0 0 25px rgb(0 0 0 / 25%);
  transform: translateY(50px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.forms-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.forms {
  display: flex;
  align-items: flex-start;
  width: 900px;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-wrapper {
  animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
  animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
  50% {
      z-index: 1;
      opacity: 0;
  }
  100% {
      z-index: 1;
  }
}

@keyframes hideLayer {
  0% {
      z-index: 1;
  }
  49.999% {
      z-index: 1;
  }
}

.switcher {
  position: relative;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 5px;
  color: #000000;
  background-color: transparent;
  border: none;
  outline: none;
  transform: translateX(0);
  transition: all .3s ease-out;
}

.form-wrapper.is-active .switcher-login {
  color: #4B3C46;
  transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
  color: #4B3C46;
  transform: translateX(-90px);
}

.underline {
  position: absolute;
  bottom: -5px;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  width: 100%;
  height: 2px;
}

.underline::before {
  content: '';
  position: absolute;
  top: 0;
  left: inherit;
  display: block;
  width: inherit;
  height: inherit;
  background-color: currentColor;
  transition: transform .2s ease-out;
}

.switcher-login .underline::before {
  transform: translateX(101%);
}

.switcher-signup .underline::before {
  transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
  transform: translateX(0);
}

.form-signup {
  animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
  animation: showSignup .3s ease-in forwards;
}


.form-wrapper.is-active .form-login {
  animation: showLogin .3s ease-in forwards;
}

.form-login {
  animation: hideLogin .3s ease-in forwards;
}

@keyframes showLogin {
  0% {
      content-visibility: hidden;
      background: #d7e7f1;
      transform: translate(25%,20px) scale(.8);
  }
  50% {
      transform: translate(0,20px) scale(.8);
  }
  100% {
      background-color: #fff;
      transform: translate(50%,20px) scale(1);
  }
}

@keyframes hideLogin {
  0% {
      background-color: #fff;
      transform: translate(50%, 20px) scale(1);
  }
  50% {
      transform: translate(0,20px) scale(.8);
  }
  100% {
      content-visibility: hidden;
      background: #d7e7f1;
      transform: translate(25%, 20px) scale(.8);
  }
}

@keyframes showSignup {
  0% {
      content-visibility: hidden;
      background: #d7e7f1;
      transform: translate(-30%,20px) scaleY(.8);
  }
  50% {
      transform: translate(0,20px) scaleY(.8);
  }
  100% {
      background-color: #fff;
      transform: translate(-50%,20px) scaleY(1);
  }
}

@keyframes hideSignup {
  0% {
      background-color: #fff;
      transform: translate(-50%, 20px) scaleY(1);
  }
  50% {
      transform: translate(0,20px) scaleY(.8);
  }
  100% {
      content-visibility: hidden;
      background: #d7e7f1;
      transform: translate(-30%, 20px) scaleY(.8);
  }
}


.input-form {
  font-size: 1.25rem;
  position: relative;
  --primary: #889DBC;
  margin: .5px;
}

.input {
  all: unset;
  color: #000000; 
  padding: 1rem;
  border: 1.5px solid #000000;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0 0 0 / 25%);
  transition: 150ms
      cubic-bezier(0.4,0,0.2,1);
}

.label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #000000;
  pointer-events: none;
  transition: 150ms
  cubic-bezier(0.4,0,0.2,1);
}
.input:focus {
  border: 1.5px solid
  var(--primary);
}

.input:is(:focus,:valid) ~ label {
  transform:
  translateY(-120%)
  scale(0.7);
  background-color: var(--primary);
  padding-inline: 0.3rem;
  color: #000000;
  border-radius: 5px;
}

.btn-login,
.btn-signup {
  width: 100px;
  height: 50px;
  background-color: #8f9ea0;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0 0 25px rgb(0 0 0 / 25%);
}

#title {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 72px;
  font-weight: bold;
  color: #2E5366;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  position: relative;
  text-decoration: none;
}

#title::before,
#title::after {
  color: #2E5366;
  content: attr(data-text);
  position: absolute;
  top: 0%;
  left: 0%;
  transition: 0.3s ease-out;
  text-decoration: none;
}

#title:hover:before {
  color: #bb0000;
  transform: translate(4px, 4px);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
#title:hover::after {
  color: #77efff;
  transform: translate(8px, 8px);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.legend {

  font-weight:  bold;
}
